<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ankita.craftkrazy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SigninActivity" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.WishListActivity"
            android:label="@string/title_activity_wish_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.ShippingActivity"
            android:label="@string/title_activity_shipping"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AllProductActivity"
            android:label="@string/title_activity_all_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activity.FilterActivity" />
    </application>

</manifest>